@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--violet: #a593e0;
}

body {
	background-color: #23272a;
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

h1 {
	font-weight: normal;
	color: var(--violet);
	text-align: center;
}

.container {
	margin-top: 1rem;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-field {
	width: 100%;
	margin: 1rem;
	border-radius: 10px;
	border: 1px solid var(--violet);
	padding: 10px;
	outline: none;
	background-color: #566270;
	color: #fffff3;
}

.search-field::placeholder {
	color: #ccc;
}

.card {
	background-color: #566270;
	margin: 1rem;
	border-radius: 10px;
	color: #fffff3;
	display: flex;
	flex-direction: column;
}

.card-body {
	padding: 20px;
}

.button-read {
	background-color: var(--violet);
	border: none;
	padding: 1rem;
	border-radius: 20px;
	width: 100%;
	margin: 1rem auto;
	font-size: 1.2rem;
	color: #fffff3;
	outline: none;
	cursor: pointer;
	justify-self: flex-end;
}

.news-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.card {
		width: 400px;
		margin: 10px auto;
	}
}
